@use '~styles/vars';

form {
    .form-fields {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .form-error {
        color: vars.$error-color;
    }
}
