@use '~styles/vars';

.dropdown {
    display: flex;
    align-items: center;
    .dropdown-label {
        margin-right: 1rem;
    }
    
    select {
        display: none;
    }
    
    .dropdown-select {
        background-color: white;
        cursor: pointer;
        user-select: none;
        color: black;
        padding: 0.5rem 1rem;
        border-style: none;
        border-radius: 0.2rem;
        filter: drop-shadow(0.2rem 0.2rem 0.5rem rgba(0, 0, 0, 0.2));

        ul {
            list-style: none;
            padding: 0;
            margin: 0;
            position: absolute;
            left: 0;
            margin-top: 0.5em;
            li {
                visibility: hidden;
                cursor: pointer;
                margin: 0.5rem 0;
                border-radius: 0.2rem;
                padding: 0.5rem 1rem;
                background-color: white;
                transition: all 200ms cubic-bezier(.47,1.64,.41,.8);

                &:hover {
                    transform: translateX(0.5em);
                }
            }
            
            
        }

        .button {
            position: absolute;
            color: white;
            background: vars.$primary-color;
            height: 100%;
            top: 0;
            width: 1.5rem;
            border-radius: 0 0.2rem 0.2rem 0;
            right: 0;
            display: flex;
            align-items: center;
            justify-content: center;

            &::before {
                content: '▼';
                font-size: 0.5em;
            }
        }
        span {
            margin-right: 1.5rem;
        }
        
        &:focus {
            z-index: vars.$zindex-0;
            ul li {
                visibility: visible;
            }
            .button::before {
                content: '▲';
                font-size: 0.5em;
            }
        }
    }
}

