@use '~styles/vars.scss';
@use '~styles/utils.scss';

.header {
    display: flex;
    padding: 1rem;
    box-sizing: border-box;
    background-color: vars.$bg-color-light;
    box-shadow: 0 0 10px rgba(black,0.3);
    gap: 2em;
    position: absolute;
    width: 100%;
    z-index: vars.$zindex-1;
    @include utils.mq_max(sm) {
        flex-direction: column;
    }
    .header-title {
        height: 2rem;
        min-width: 10rem;
        background-repeat: no-repeat;
        background-position: center;
        cursor: pointer;
        .menu-icon {
            line-height: 2rem;
            color: vars.$secondary-color-dark;
        }
        @include utils.mq_min(md) {
            margin-left: 1rem;
            .menu-icon {
                margin-left: -2.5rem;
            }
        }
    }

    .breadcrumb {
        flex: 6;
        flex-wrap: wrap;
    }
}