@use './vars';
@use './utils';

@import './typography';
@import './layers';
@import './lists';
@import './global';

@include utils.google-font("Epilogue");
@include utils.google-font("Maven+Pro:700");
@include utils.google-font("Oswald:500");

body {
  margin: 0;
  background-color: vars.$bg-color;
}

body, #root, #app {
  height: 100vh;
  overflow: hidden;
  #app {
    // overflow: scroll;
  }
}

main {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  overflow-x: hidden;
}
  
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.loading-logo {
  width: 20em;
}