@use './vars.scss';
@use './utils.scss';

body {
  font-family: vars.$font-body !important;
  font-weight: vars.$font-body-weight;
  font-style: vars.$font-body-style;
  @include utils.responsive-font(2.3vmin, .8rem);
}

/**
 * @font-face definitions should be in /assets/fonts.css.liquid
 * and linked in <head> of theme.liquid
 */
 h1, h2, h3, h4, h5, h6 {
  margin: 1.5vmin 0 1.5vmin 0;
}
h1, h2, h3,
.h1, .h2, .h3 {
  font-family: vars.$font-heading !important;
}

h4, h5,
.h4, .h5 {
  font-family: vars.$font-alt-heading !important;
  letter-spacing: .1rem;
}

.t1 ,h1, .h1 {
  @include utils.responsive-font(5vmin, 20px, 50px);
}
.t2 ,h2, .h2 {
  @include utils.responsive-font(4vmin, 20px, 2.6rem);
}
.t3 ,h3, .h3 {
  @include utils.responsive-font(3vmin, 20px, 30px);
}
.t4 ,h4, .h4 {
  @include utils.responsive-font(2.5vmin, 18px);
}
.t5 ,h5, .h5 {
  @include utils.responsive-font(2.3vmin, 16px);
}
.t6 ,h6, .h6 {
  @include utils.responsive-font(2vmin, 14px);
  font-family: vars.$font-body;
}
a {
  color: vars.$primary-color;
}
.text-uppercase {
  text-transform: uppercase !important;
}