@use '~styles/vars';

[class*=" imghvr-"] a,
[class^="imghvr-"] a {
    position: relative !important;
}

.caption {
    padding: 1rem;
}

.slideshow .slideshow-wrapper .slider figcaption {
    background-position: center;
    background-size: cover;
}