@use '~styles/vars.scss';

.card {
    box-shadow: 0 15px 20px rgba(0,0,0,.1);
    background-color: vars.$bg-color-light;;
    user-select: none;
    touch-action: pan-y;
    .card-content {
        overflow: hidden;
        height: 100%;
        .card-cover {
            background-size: cover;
            background-position: center;
        }
        .card-content-link {
            content: "Read more";
            display: none;
            position: absolute;
            bottom: 0;
            right: 0;
            padding: 1rem;
            color: vars.$primary-color-dark;
            background-color: vars.$bg-color-light;
            cursor: pointer;
        }
    }
    &:hover {
        box-shadow: 0 30px 40px rgba(vars.$secondary-color-dark,.1);

        .card-content-link {
            display: block;
        }
    }
    .card-selector:checked ~ .card-content-link {
        display: block;
    }
}

.card-wrapper {
    height: 100%;
}

.card-cover {
    flex: 1
}

.card-caption {
    flex: 1;
    overflow: auto;
height: 100%;
box-sizing: border-box;
}