.notification-area {
    position: absolute;
    bottom: 0;
    right:0;
    max-height: 100%;
    max-width: 100%;

    .alert {
        position: relative !important;
        // transform: translateY(100px);
    }
    // &.visible {
    //     transform: translateX(0);
    // }
}