@use '~styles/utils';
@use '~styles/vars';

.file-block {
    width: 100%;

    .file-block-wrapper {
        box-shadow: 0 15px 20px rgba(0, 0, 0, 0.1);
        background-color: white;
    }
}
.file-list {
    display: flex;
    flex-direction: row;
    gap: 1em;
    @include utils.mq_max(md) {
        flex-direction: column;
    }
}
.file-icon {
    flex: 1;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.file {
    flex: 1;
    box-shadow: 0 0.2rem 0.5rem rgba(vars.$secondary-color-light, 0.2);
    border-radius: 1em;
}

.file-caption {
    flex: 2;
    overflow: hidden;
    white-space: nowrap;
    span {
        width: 100%;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}

.file-actions {
    flex: 1;
    gap: 1em;
}